* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    /* Свойства width и height включают в себя значения padding и border, но не margin. */
  }

  .header{
    background-color: #32aa46;
  }

  .corner_button{
    position: absolute;
    left: 140px;
    top: 38px;
    background-color: #ffffff;
    padding: 4px 8px;
    border: 2px solid #000000;
    border-radius: 8px;
    gap: 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }


  .header_parts{
    width: 446px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .pages{
    width: 446px;
    border-radius: 10000px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
  }

  .black{
    padding: 4px 16px;
    background: #181818;
    border-radius: 10000px;
    color: #FFFFFF;
  }

  .white{
    padding: 4px 16px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10000px;   
    color: #181818; 
  }

  .first{
    margin: 0 auto;
    margin-top: 120px;
    width: 804px;
  }
  
  
  .head{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .second{
    width: 484px;
    height: 48px;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  
  .text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;  
  }


  .two_buttons{
    width: 452px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .button_left{
    width: 215px;
    height: 56px;
    color: #ffffff;
    background-color: black;
    border-radius: 8px;  
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .button_right{
    width: 221px;
    height: 56px;
    color: #000000;
    background-color: white;
    border-radius: 8px;  
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .button_right::before{
    content: img src="img/polygon.svg" alt="play"; 
  }

  
  .photos_long{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
  }

  .second_line{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .photos_short{
    width: 560px;
  }

  .box{
    width: 1160px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }


  .last_photo{
    width: 400px;
    height: 560px;
    border-radius: 24px;
    margin-left: 160px;
  }

  .last_description{
    width: 484px;
    height: 560px;
    justify-content: left;
    margin-top: 80px;
  }

  .head_of_section_about_me{
    width: 478px;
  height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
  }

.text_of_section_about_me{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 24px;
}

.mini_blocks{
  width: 261px;
  height: 88px;
  margin-top: 64px;  
}

.mini_block{
  height: 88px;
}

  .container {
    width: 1160px;
    margin: 0 auto;
  }
  
  .h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #181818;
  }
  
  .h2_white {
    color: #ffffff;
  }
  
  .h2_services {
    text-align: center;
  }

  .services__cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .services__card {
    width: 368px;
    height: 384px;
    background: #ffffff;
    border-radius: 16px;
    padding: 40px;
  }

  .services__card__number {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #181818;
    font-feature-settings: 'pnum' on, 'lnum' on;
    opacity: 0.5;
  }
  
  .h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #181818;
  }
  
  .h4_services {
    margin-top: 56px;
  }
  
  .h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    margin-top: 8px;
  }
  
  .h5_services {
    margin-top: 8px;
  }
  
  .text-paragraph {
    width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-self: stretch;
    color: #181818;
    margin-top: 16px;
  }
  
  .text-paragraph_services {
    margin-top: 16px;
  }

  .services {
    background-color: #181818;
    padding: 120px;
  }
  
  .services__card__line {
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  

img {
    width: 110px;
    display: block;
    margin: 200 200;
}


#text{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway';
    font-style: normal;
    line-height: 24px;

text-align: center;
}

.down{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
}

.head_of_section_cost{
  margin: 0 auto;
  margin-top: 120px;
  width: 446px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
}

.block_one{
  width: 448px;
  height: 368px;
  padding: 0px 24px;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 80px;
  background: #FFFFFF;
  z-index: 500;
}

.line_one{
  width: 400px;
  height: 48px;
  margin: 0 auto;
  margin-top: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
}


.line_two{
  width: 400px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 24px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
}

.inner_line_one{
  width: 368px;
  height: 24px;
  margin: 12px 16px;
  border: none;
}

.text_in_line_one{
  width: 89px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.icon_in_line_one{
  width: 8px;
  height: 4px;
  margin-top: 11px;
}

.block_two{
  width: 400px;
  height: 384px;
  padding: 40px 24px;
  border: 1px solid #CCCCCC;
  border-radius: 0px 0px 16px 16px;
  margin: 0 auto;
  margin-top: -8px;
  margin-bottom: 120px;
  background: #FFFFFF;
}

.q_and_a{
  background-color: #181818;
}

.head_of_section_q_and_a{
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}