p {
    color:rgb(61, 31, 167);
    margin: 0;
}

img {
    width: 300px;
    display: block;
    margin: 50 auto;
}
.head{
    font-size: 24px;
}
/* селектор по классу более специфичный, чем селектор по тегу */
#text{
    color: palevioletred;
}
/* селектор по id */

ul li {
    color:blue;
}

ol li {
    color:brown;
}

.container {
    width: 230px;
    padding: 10px 15px;
    /* padding-top: 10px; */
    /* 10 - сверху и снизу, 15 - справа и слева */
    margin: 20px auto;
    /* отступ 2- снизу/сверху, auto - располагает по центру отн-но справа/слева */
    text-align: left;
    /* выравнивание по левому краю */
    border: 1px solid salmon;
    color:bisque;
    /* параметры текста передаются дочерним от родительских */
    font-weight: 700;
    /* font-weight - жирность */
}